body {
  background: #121313;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: all ease 0.4s;
  color: #387AFF;
}

* {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0px;
}

h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 40px;
  letter-spacing: 0.374px;
}

.default-select {
  height: 40px;
  width: 100%;
  background: #1e1e1f;
  border: 1px solid #8E8E93;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  color: #fff;
  padding: 0px 15px;
}

.default-btn {
  background: #387AFF;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 10px 30px;
  text-decoration: none;
  border: #387AFF solid 1px;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}